<br>

<div style="margin-left: 30px; margin-right: 30px">
    <p-growl [(value)]="msgs" ui-growl-icon-close ui-messages-success [style]="{'width':'30%'}"></p-growl>

    <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none" align="center">
        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
        <input #userFilter type="text" pInputText size="50" placeholder="ค้นหา" style="width: 60%;">
    </div>
    <app-loading *ngIf="!isLoaded"></app-loading>
    <p-dataTable *ngIf="isLoaded" sortMode="multiple" [value]="elderUserDatas" [rows]="5" [paginator]="true" [pageLinks]="10" [rowsPerPageOptions]="[5,10,20]" [globalFilter]="userFilter">
        <p-header>รายชื่อผู้สูงอายุ</p-header>
        <p-column field="idNumber" header="หมายเลขบัตรประจำตัวประชาชน" [sortable]="true" [style]="{'text-align':'center'}"></p-column>
        <p-column field="fullName" header="ชื่อ - นามสกุล" [sortable]="true"></p-column>
        <p-column field="age" header="อายุ" [sortable]="true" [style]="{'text-align':'center'}"></p-column>
        <p-column field="homeName" header="บ้าน" [sortable]="true"></p-column>
        <p-column styleClass="col-button" [style]="{'width':'50px'}" header="ดู">
            <ng-template let-userData="rowData" pTemplate="body">
                <a type="button" pButton icon="fa-search" class="btn-default" routerLink="/user/{{userData.idNumber}}" routerLinkActive="active"></a>
            </ng-template>
        </p-column>
        <p-column styleClass="col-button" [style]="{'width':'50px'}" header="แก้ไข">
            <ng-template let-userData="rowData" pTemplate="body">
                <a type="button" pButton icon="fa-pencil" class="btn-edit" routerLink="/user/{{userData.idNumber}}" routerLinkActive="active"></a>
            </ng-template>
        </p-column>
        <p-column styleClass="col-button" [style]="{'width':'50px'}" header="ลบ">
            <ng-template let-userData="rowData" pTemplate="body">
                <button type="button" pButton icon="fa-trash" class="btn-delete" (click)="confirmDeleteDialog(userData)"></button>
            </ng-template>
        </p-column>

        <p-column styleClass="col-button" [style]="{'width':'50px'}" header="TEST">
            <ng-template let-userData="rowData" pTemplate="body">
                <button type="button" pButton icon="fa-trash" class="btn-delete" (click)="showSuccessMsg('Test MSG')"></button>
            </ng-template>
        </p-column>
    </p-dataTable>

    <p-confirmDialog header="ยืนยันการลบข้อมูล" icon="fa fa-question-circle" width="425"></p-confirmDialog>

</div>